@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
/*===    Start Reset Style   ===*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
  transition: all 0.7s ease;
}
a:hover,
button:hover,
a:focus,
button:focus {
  transition: all 0.7s ease;
}
/*===     End Reset Style    ===*/
/*===   Start Common Style   ===*/
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.parts {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.separator {
  width: 170px;
  height: 1px;
  background-color: #ec7979;
  margin: 0 auto 40px auto;
}
.accent-color {
  color: #ec7979;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.875rem;
  font-weight: 400;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.813rem;
  font-weight: 700;
}
.title {
  text-align: center;
  margin-bottom: 55px;
}
.subtitle {
  text-align: center;
  color: #86878b;
}
.input-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  position: relative;
}
.input-holder label {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.19rem;
  color: #bdbdbd;
  position: absolute;
  top: 0;
  left: 0;
}
.input-holder input,
.input-holder textarea {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  padding-left: 80px;
}
.input-holder input {
  height: 38px;
}
.flex-section {
  display: flex;
  justify-content: space-between;
}
.flex-section .flex-col {
  text-align: center;
  flex: 0 1 calc(100%/3 - 20px);
}
.btn {
  width: 270px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.563rem;
  text-align: center;
}
.white-btn {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}
.white-btn:hover {
  border-color: #ec7979;
  color: #ec7979;
}
.white-btn:active {
  border-color: #ab4949;
  background-color: #ab4949;
  color: #fff;
}
.color-btn {
  background-color: #ec7979;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}
.color-btn:hover {
  background-color: #ab4949;
}
.color-btn:active {
  box-shadow: 0px 0px 10px #ab4949;
}
/*===    End Common Style    ===*/
/*===     Start Nav Style    ===*/
.header {
  background-color: #000;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__navigation {
  display: flex;
  flex-basis: 570px;
  justify-content: space-around;
  height: 100%;
}
.header__navigation a {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.192rem;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.header__navigation a:hover {
  background-color: #ec7979;
  text-transform: uppercase;
}
.header__navigation a:active {
  background-color: #ab4949;
  text-transform: uppercase;
}
/*===      End Nav Style     ===*/
/*===   Start Banner Style   ===*/
.banner {
  background: url('../img/main_img.jpg') center center no-repeat transparent;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.banner-txt {
  padding-right: 30px;
  flex-basis: 60%;
}
.banner-txt h1 {
  margin-bottom: 55px;
  max-width: 655px;
}
.banner-txt h5 {
  color: #fff;
  margin-bottom: 42px;
  max-width: 270px;
}
.banner-txt__img {
  margin-bottom: 50px;
  height: 55px;
}
.banner-txt__title {
  color: #fff;
  text-transform: uppercase;
}
.banner .separator {
  background-color: #fff;
  margin-left: 0;
}
.banner-form {
  flex-basis: 40%;
}
.banner-form__field {
  padding: 40px 50px 75px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  width: 100%;
}
.banner-form h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
.banner-form .color-btn {
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/*===    End Banner Style    ===*/
/*===   Start Social Style   ===*/
.social {
  background-color: #f8efef;
  padding-top: 18px;
  padding-bottom: 18px;
}
.social .container {
  display: flex;
  justify-content: space-between;
}
.social__txt {
  flex-basis: 470px;
  margin-right: 50px;
}
.social__txt h4 {
  margin-bottom: 18px;
}
.social__txt p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #333;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.social__icons a {
  color: #ccc;
  font-size: 3.5rem;
}
.social__icons a:hover {
  color: #ec7979;
}
/*===    End Social Style    ===*/
/*===    Start Tabs Style    ===*/
.tabs {
  margin: 100px 0 120px 0;
}
.tabs nav {
  margin-bottom: -2px;
  display: flex;
}
.tabs nav a {
  display: inline-flex;
  justify-content: center;
  flex-basis: 185px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}
.tabs nav a.active {
  border: 1px solid #c6cbcd;
  border-bottom-color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}
.tabs nav a:not(.active):hover {
  color: #ab4949;
}
.tabs-article {
  border: 1px solid #c6cbcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-article__txt {
  margin-left: 8.5%;
  margin-right: 30px;
}
.tabs-article h3 {
  margin-bottom: 60px;
}
.tabs-article h5 {
  margin-bottom: 27px;
}
/*===     End Tabs Style     ===*/
/*===    Start About Style    ===*/
.about {
  margin-bottom: 60px;
}
.about h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.about h5 {
  margin-bottom: 70px;
}
.about-section__article img {
  margin: auto;
  display: block;
  margin-bottom: 35px;
}
.about-section__article h4 {
  margin-bottom: 35px;
}
.about-section__article p {
  font-size: 1.125rem;
  font-weight: 400;
}
/*===     End About Style     ===*/
/*===   Start Pricing Style   ===*/
.pricing {
  background-color: #f5f5f5;
  padding: 110px 0 50px 0;
}
.pricing .subtitle {
  margin-bottom: 60px;
}
.pricing-section__article:not(:nth-of-type(2)) {
  margin-top: 20px;
}
.pricing-section__article:nth-of-type(2) .active {
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}
.pricing-section h3,
.pricing-section h4,
.pricing-section h5 {
  border: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-section h4 {
  min-height: 60px;
  color: #fff;
  background-color: #333;
}
.pricing-section h3 {
  min-height: 100px;
  color: #fff;
  background-color: #333;
}
.pricing-section h5 {
  min-height: 50px;
  color: #86878b;
  background-color: #fff;
}
.pricing-section h5:first-of-type {
  background-color: #333;
}
/*===    End Pricing Style    ===*/
/*===   Start Reviews Style   ===*/
.reviews {
  padding: 110px 0 50px 0;
}
.reviews .subtitle {
  margin-bottom: 80px;
}
.reviews-section .person__txt {
  border-radius: 10px;
  background-color: #e2e2e2;
  color: #86878b;
  padding: 37px 20px;
  font-size: 1.125rem;
  position: relative;
  margin-bottom: 65px;
}
.reviews-section .person__txt:after {
  content: "";
  display: block;
  position: absolute;
  border: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
  border-bottom: none;
  bottom: -20px;
  left: 70px;
}
.reviews-section .person__data {
  display: flex;
}
.reviews-section .person__data img {
  margin-right: 30px;
}
.reviews-section .person__data > div {
  flex-grow: 1;
  text-align: left;
}
.reviews-section .person__data > div h4 {
  margin-bottom: 15px;
}
/*===    End Reviews Style    ===*/
/*===   Start Stylish Style   ===*/
.stylish {
  padding: 100px 0 50px 0;
  background: url('../img/main_img_bottom.jpg') center center no-repeat transparent;
  background-size: cover;
}
.stylish .title {
  color: #fff;
}
.stylish .separator {
  background-color: #fff;
}
.stylish .subtitle {
  color: #fff;
  margin-bottom: 73px;
}
.stylish .white-btn {
  margin: 0 auto;
  width: calc(100%/3 - 60px);
}
/*===    End Stylish Style    ===*/
/*===   Start Contact Style   ===*/
.contact {
  padding: 100px 0 50px 0;
}
.contact .subtitle {
  margin-bottom: 73px;
}
.contact .color-btn {
  margin: 15px auto 0 auto;
  width: calc(100%/3 - 60px);
}
.contact-form__field {
  display: flex;
  justify-content: space-between;
}
.contact-form__field > div,
.contact-form__field > .input-holder {
  flex: 0 1 calc(50% - 15px);
}
.contact-form__field > .input-holder textarea {
  height: 100%;
  resize: vertical;
}
/*===    End Contact Style    ===*/
/*===   Start Footer Style    ===*/
footer {
  background-color: #000;
  padding: 35px 15px 30px 15px;
}
footer .container {
  text-align: center;
}
footer .icons {
  margin-bottom: 25px;
}
footer .icons a {
  font-size: 2.8rem;
  color: #ccc;
  margin: 0 20px;
}
footer .icons a:hover {
  color: #ec7979;
}
footer h5 {
  color: #ccc;
}
/*===     End Footer Style    ===*/
